body, html {
   margin: 0;
   padding: 0;
}

header {
   background-image: url("../img/notebook-pencil.png");
   height: 450px;
   background-position: top-center;
}

header nav ul li a {
   color: #737274;
}

#header-title {
   top: 30%;
   left: 50%;
   transform: translate(-50%, -30%);
   -webkit-transform: translate(-50%, -30%);
}

#content {
   width: 85%;
   display: block;
   margin: 0 auto;
   max-width: 1300px;
}

h1, p {
   font-family: 'Open Sans', sans-serif;
   font-weight: 300;
}

article h1 {
   font-size: 16pt;
   font-weight: 600;
}

article li {
   font-weight: 300;
   font-family: 'Open Sans', sans-serif;
}

article table {
   width: 100%;
   border-collapse: collapse;
}

#timeline th {
   font-family: 'Open Sans', sans-serif;
}

#timeline td {
   padding-right: 10px;
}

#timeline e tr:nth-child(1) th {
   border-bottom: 1px solid black;
}

.bar {
   font-family: 'Open Sans', sans-serif;
   font-weight: 400;
   width: 100%;
   height: 30px;
   line-height: 30px;
   text-align: center;
   font-size: 10pt;
   display: block;
   margin: 0 auto;
   margin-top: 5px;
   margin-bottom: 5px;
   color: white;
   border-radius: 5px;
}

.website {background-color: #16a085;}
.app {background-color: #2ecc71;}
.client-app {background-color: #3498db;}
.web-app {background-color: #9b59b6;}
